.header{
    background-color: rgba(178, 5, 5, 0.858);
    display: fixed;
    justify-content: space-between;
    width:100%;
}

.opp{
    margin-top: 15px;
    margin-left: 18cm;
}

#home{
    font-size: 20px;
    padding: 0.5cm;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-decoration: none;
}

#contact{
    font-size: 20px;
    padding: 0.5cm;
    font-weight: bold;
    color: rgb(0, 0, 0);
    color: rgb(252, 252, 252);
    text-decoration: none;
}

#aboutus{
    font-size: 20px;
    padding: 0.5cm;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-decoration: none;
}

#organ{
    font-size: 20px;
    padding: 0.5cm;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-decoration: none;
}

#article{
    font-size: 20px;
    padding: 0.5cm;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-decoration: none;
}

#signout{
    font-size: 20px;
    padding: 0.5cm;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-decoration: none;
}