.add{
    margin-top: -3cm;
    margin-right: 25cm;
    margin-bottom: 100px;
}

#addform{
    border: 1px solid;
    border-color: black;
    background-color: rgba(94, 90, 90, 0.518);
    margin-bottom: 00px;
    text-align: center; 
}

label[for="name"] {
    padding-right: 10ch;
  }
label[for="bloodGroup"] {
    padding-right: 5ch;
  }
label[for="mobileNumber"] {
    padding-right: 3ch;
  }
label[for="address"] {
    padding-right: 9ch;
  }
label[for="age"] {
    padding-right: 12ch;
  }

.list{
    margin-top:-20.5cm;
    margin-left: 15cm;
    height:fit-content;
    width: 24cm;
    border: 1px solid;
    border-color: black;
    background-color: rgba(172, 4, 4, 0.881);
}

th{
    padding: 1cm;
}

#table{
    margin-top: -1cm;
}
.heading
{
  color: brown;
}